<div class="bg-white w-full h-full rounded-xl p-5">
  <h1 class="font-semibold text-text_secondary mb-3">My work</h1>
  <div class="flex flex-row gap-5">
    <h1 class="text-text_secondary font-medium text-sm cursor-pointer">
      To Do
    </h1>
    <h1 class="font-medium text-sm cursor-pointer">Done</h1>
  </div>
  <div class="w-full bg-gray-300 h-[0.5px] mt-1"></div>
  <div class="flex flex-row justify-between mt-5 text-sm">
    <p class="text-text_secondary">Task 1</p>
    <p class="text-red-500">9/12/2012</p>
  </div>
</div>
