<div class="bg-white w-full h-full rounded-xl p-5">
  <h1 class="font-semibold text-text_secondary mb-3">My work</h1>
  <nz-tabset>
    <nz-tab nzTitle="Due">
      @for (task of dueTasks; track $index) {
      <table class="w-full">
        <tr class="border-b border-gray-300">
          <td class="text-text_secondary">{{ task.Name }}</td>
          <td class="text-red-500">{{ task.DueDate }}</td>
          <td
            [ngClass]="{
            'text-green-400': task.Status === 'Completed',
            'text-gray-400': task.Status === 'Not Started',
            'text-orange-400': task.Status === 'In Progress',
            'text-red-400': task.Status === 'Stuck',
          }"
          >
            {{ task.Status }}
          </td>
        </tr>
      </table>
      }
    </nz-tab>
    <nz-tab nzTitle="Overdue"
      >@for (task of overDueTasks; track $index) {
      <table class="w-full">
        <tr class="border-b border-gray-300">
          <td class="text-text_secondary">{{ task.Name }}</td>
          <td class="text-red-500">{{ task.DueDate }}</td>
          <td
            [ngClass]="{
            'text-green-400': task.Status === 'Completed',
            'text-gray-400': task.Status === 'Not Started',
            'text-orange-400': task.Status === 'In Progress',
            'text-red-400': task.Status === 'Stuck',
          }"
          >
            {{ task.Status }}
          </td>
        </tr>
      </table>
      }</nz-tab
    >
  </nz-tabset>
</div>
