<nz-modal
  [nzVisible]="this.editUserModalService.getVisible()"
  nzTitle="Add User"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleSubmit()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="taskForm">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        required
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
      />
      <div class="h-7">
        <span
          *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched"
          class="text-xs text-red-600 block mt-1"
          >Please enter a name</span
        >
      </div>
      <label for="surname">Surname</label>
      <input
        type="text"
        id="surname"
        formControlName="surname"
        required
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
      />
      <div class="h-7">
        <span
          *ngIf="
            taskForm.get('surname')?.invalid && taskForm.get('surname')?.touched
          "
          class="text-xs text-red-600 block mt-1"
          >Please enter a surname</span
        >
      </div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        required
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
      />
      <div class="h-7">
        <span
          *ngIf="
            taskForm.get('email')?.invalid && taskForm.get('email')?.touched
          "
          class="text-xs text-red-600 block mt-1"
          >Please enter a valid email address</span
        >
      </div>
      <label for="role">Role</label>
      <nz-select
        id="role"
        formControlName="role"
        class="w-full mt-2"
        placeholder="Select a role"
      >
        <nz-option nzValue="1" nzLabel="Manager"></nz-option>
        <nz-option nzValue="0" nzLabel="User"></nz-option>
      </nz-select>
      <div class="h-7">
        <span
          *ngIf="taskForm.get('role')?.invalid && taskForm.get('role')?.touched"
          class="text-xs text-red-600 block mt-1"
          >Please select a role</span
        >
      </div>
    </form>
  </ng-container>
</nz-modal>
