<nz-modal
  [nzVisible]="changepasswordmodalService.getIsVisible()"
  nzTitle="Change Password"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="changepasswordForm">
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
        required
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
      />
      <div class="h-7">
        <span
          *ngIf="
            changepasswordForm.get('currentPassword')?.invalid &&
            changepasswordForm.get('currentPassword')?.touched
          "
          class="text-xs text-red-600 block mt-1"
          >Please enter your current password</span
        >
      </div>
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        formControlName="newPassword"
        required
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
      />
      <div class="h-7">
        <span
          *ngIf="
            changepasswordForm.get('newPassword')?.invalid &&
            changepasswordForm.get('newPassword')?.touched
          "
          class="text-xs text-red-600 block mt-1"
          >Please enter a new password</span
        >
      </div>
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        required
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
      />
      <div class="h-5">
        <span
          *ngIf="
            changepasswordForm.hasError('mismatch') &&
            changepasswordForm.get('confirmPassword')?.touched
          "
          class="text-xs text-red-600 block mt-1"
          >Passwords do not match</span
        >
      </div>
    </form>
  </ng-container>
</nz-modal>
