<main
  class="w-full h-full flex flex-col p-5 lg:p-10 justify-start lg:justify-center text-xs lg:text-base"
>
  <h1
    class="mb-2 lg:mb-5 text-base lg:text-lg font-semibold text-text_secondary"
  >
    Manage users
  </h1>
  <div class="w-full h-fit bg-white rounded-md p-5 lg:p-10">
    <button
      class="bg-purple_accent p-2 w-fit rounded-md font-semibold text-white lg:ml-10 mb-5"
      (click)="openAddUserModal()"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
      Add User
    </button>
    <table class="w-full text-text_primary">
      <thead>
        <tr class="text-text_secondary">
          <th class="p-2">Name</th>
          <th class="p-2">Email</th>
          <th class="p-2">Role</th>
          <th class="p-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
        <tr>
          <td class="p-2 text-center">{{ user.FirstName }}</td>
          <td class="p-2 text-center">{{ user.Email }}</td>
          <td class="p-2 text-center">
            @if (user.Admin == 1) { Manager} @else { Employee}
          </td>
          <td class="p-2 text-center flex flex-row justify-center gap-2">
            <button
              class="text-purple_accent p-2 rounded-md"
              (click)="openEditUserModal(user)"
            >
              <fa-icon [icon]="faEdit" />
            </button>
            <button
              class="text-red-500 p-2 rounded-md"
              (click)="deleteUser(user)"
            >
              <fa-icon [icon]="faTrashCan" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if (editUserModalService.getVisible()) { <app-user-form />}
    <app-adduser />
  </div>
</main>
