<div class="flex items-center justify-center h-screen bg-gray-100">
  <div
    class="px-8 py-6 mt-4 text-left bg-white shadow-lg rounded-lg w-full md:w-96 h-full md:h-auto"
  >
    <h3 class="text-2xl font-bold text-center">Forgot Password</h3>
    <form [formGroup]="forgotPasswordForm">
      <div class="mt-4 space-y-6">
        <div class="relative">
          <label class="block" for="email">Email Address</label>
          <input
            type="email"
            id="email"
            placeholder="Enter your email"
            formControlName="email"
            required
            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-purple_accent h-10"
          />
          <span
            *ngIf="
              forgotPasswordForm.get('email')?.invalid &&
              forgotPasswordForm.get('email')?.touched
            "
            class="absolute text-xs text-red-600 block mt-1 top-full"
            >Please enter a valid email address</span
          >
        </div>
        <div class="flex items-baseline justify-center space-x-4">
          <button
            type="submit"
            [disabled]="forgotPasswordForm.invalid"
            (click)="onSubmit()"
            class="px-6 py-2 text-white bg-purple_accent rounded-lg hover:bg-purple_accent disabled:opacity-50"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
    <div class="mt-4 text-sm text-center">
      Remembered your password?
      <a routerLink="/signin" class="text-purple_accent hover:underline"
        >Sign In</a
      >
    </div>
  </div>
</div>
