<div
  class="flex flex-col w-full h-full bg-white items-start px-3 justify-between"
>
  <div class="w-full flex flex-col">
    <h1 class="mb-10 text-2xl bold text-center p-2 font-semibold">Logo Here</h1>
    <div class="flex flex-col gap-3 w-full text-text_primary">
      <button
        routerLink="/dashboard"
        [ngClass]="isActive('/dashboard') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faNewspaper"></fa-icon>
        Dashboard
      </button>
      <button
        routerLink="/manageusers"
        [ngClass]="isActive('/manageusers') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faUsers"></fa-icon>
        Manage Users
      </button>
      <button
        routerLink="/tasks"
        [ngClass]="isActive('/tasks') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faListCheck"></fa-icon>
        Tasks
      </button>
      <button
        routerLink="/managetasks"
        [ngClass]="isActive('/managetasks') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faThumbTack"></fa-icon>
        Manage Tasks
      </button>
      <button
        routerLink="/loghours"
        [ngClass]="isActive('/loghours') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faHourglass"></fa-icon>
        Log Hours
      </button>
    </div>
  </div>
</div>
