<div
  class="flex flex-col w-full h-full bg-white items-start px-3 justify-between"
>
  <div class="w-full flex flex-col">
    <h1 class="mb-10 text-2xl bold text-center p-2 font-semibold">Logo Here</h1>
    <div class="flex flex-col gap-3 w-full text-text_primary">
      <a routerLink=""
        ><button class="{{ buttonStyle }} bg-dashboard_bg text-purple_accent">
          <fa-icon [icon]="faNewspaper"></fa-icon>
          Dashboard
        </button></a
      >
      <a routerLink="/manageusers"
        ><button class="{{ buttonStyle }} text-text_primary">
          <fa-icon [icon]="faUsers"></fa-icon>
          Manage Users
        </button></a
      >
      <a routerLink="/tasks">
        <button class="{{ buttonStyle }} text-text_primary">
          <fa-icon [icon]="faListCheck"></fa-icon>
          Tasks
        </button></a
      >
      <a routerLink="/managetasks">
        <button class="{{ buttonStyle }} text-text_primary">
          <fa-icon [icon]="faThumbTack"></fa-icon>
          Manage Tasks
        </button></a
      >
      <a routerLink="/loghours"
        ><button class="{{ buttonStyle }} text-text_primary">
          <fa-icon [icon]="faHourglass"></fa-icon>
          Log Hours
        </button></a
      >
    </div>
  </div>
</div>
