<div
  class="flex flex-col w-full h-full bg-white items-start px-3 justify-between"
>
  <div class="w-full flex flex-col">
    <h1 class="mb-10 lg:text-2xl bold text-center p-2 font-semibold">Logo</h1>
    <div class="flex flex-col gap-3 w-full text-text_primary">
      <button
        routerLink="/dashboard"
        [ngClass]="isActive('/dashboard') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faNewspaper"></fa-icon>
        <span class="hidden lg:block">Dashboard</span>
      </button>
      @if (user.admin == 1 ) {
      <button
        routerLink="/manageusers"
        [ngClass]="isActive('/manageusers') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faUsers"></fa-icon>
        <span class="hidden lg:block">Manage Users</span>
      </button>
      }
      <button
        routerLink="/tasks"
        [ngClass]="isActive('/tasks') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faListCheck"></fa-icon>
        <span class="hidden lg:block">Tasks</span>
      </button>
      @if (user.admin == 1 ) {
      <button
        routerLink="/managetasks"
        [ngClass]="isActive('/managetasks') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faThumbTack"></fa-icon>
        <span class="hidden lg:block"> Manage Tasks </span>
      </button>
      }
      <button
        routerLink="/hours"
        [ngClass]="isActive('/hours') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faHourglass"></fa-icon>
        <span class="hidden lg:block"> Hours </span>
      </button>
      <button
        routerLink="/messages"
        [ngClass]="isActive('/messages') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faPaperPlane"></fa-icon>
        <span class="hidden lg:block"> Messages </span>
      </button>
      
      <button
        routerLink="/poll"
        [ngClass]="isActive('/poll') ? activeStyle : inactiveStyle"
      >
        <fa-icon [icon]="faPoll"></fa-icon>
        <span class="hidden lg:block"> Poll </span>
      </button>
    </div>
  </div>
</div>
